{{#each uploads as |upload|}}
  <form>
  <tr class="file-row" data-id="{{upload._id}}" data-owner="{{upload.owner}}">
    <td><input class="file-title file-table-cell-edit file-table-cell-inactive" value="{{upload.title}}" disabled="disabled" required></td>
    <td>{{upload.createdAt}}</td>
    <td>{{upload.updatedAt}}</td>
    <td><input class="file-tags file-table-cell-edit file-table-cell-inactive" value="{{upload.tags}}" disabled="disabled"></td>
    <td><button type="button" class="btn-line clickable editable-btn edit-btn">Edit</button></td>
    <td><button type="button" class="btn-line clickable editable-btn update-btn hide">Update</button></td>
    <td><button type="button" class="btn-line clickable editable-btn delete-btn">Delete</button></td>
    <td><button type="button" class="btn-line clickable view-btn"><a href="{{upload.url}}" target="_blank">View</a></button></td>

  </tr>
  </form>

{{/each}}
